{% extends "main/base.html" %}

{% block title %}Відновлення пароля{% endblock %}

{% block content %}
<div class="auth-container">
    <h2>Відновлення пароля</h2>
    <p>Введіть ваш email, щоб отримати 6-значний код для зміни пароля.</p>
    <form method="post" class="auth-form">
        {% csrf_token %}
        <div class="form-group">
            <input type="email" name="email" placeholder="example@gmail.com" required class="form-input" style="width: 100%;">
        </div>
        <button type="submit" class="btn btn-buy" style="margin-top: 20px; width: 100%;">Надіслати код</button>
    </form>
</div>
{% endblock %}
